<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>widget Edit</title>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-left">
                <a href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon glyphicon-ok">
                  </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Widget-edit
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <label for="website-name"> Name</label>
    <input placeholder="Website Name"
           value="Facebook"
           class="form-control"
           id="website-name"/>

    <label for="website-description">Text</label>
    <input placeholder="Website Description"
           class="form-control"
           id="website-description"></input>

    <label for="widge-head">URL</label>
    <input placeholder="https://www.hungama.com"
           class="form-control"
           id="widge-head"></input>

    <label for="widge-width">Width</label>
    <input placeholder="100%"
           class="form-control"
           id="widge-width"></input>

    <a href="widget-list.view.client.html" class="btn btn-danger btn-block">
        Delete
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right ">
            <div class="col-xs-3 pull-right">
                <a href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon glyphicon-user" id="span1"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>