
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../views/user/profile.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="website-new.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin" href="website-list.view.client.html">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
                    <a href="../views/page/page-list.view.client.html">
                        Blogging App </a>
                    <a href="website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>
        <li class="list-group-item">
                    <a href="../views/page/page-list.view.client.html">
                        All-in-one scores
                    </a>
                    <a href="website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>
        <li class="list-group-item">

                    <a href="../views/page/page-list.view.client.html">
                        Weight Control
                    </a>
                    <a href="website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>

        <li class="list-group-item">
                    <a href="../views/page/page-list.view.client.html">
                        Monitor Fitness
                    </a>
                    <a href="website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>

        <li class="list-group-item">
                    <a href="../views/page/page-list.view.client.html">
                        Cricket scores
                    </a>

                    <a href="website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right ">
            <div class="col-xs-3 pull-right">
                <a href="#">
                    <span class="glyphicon glyphicon glyphicon-user" id="span1"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
