<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Page List</title>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../website/website-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="page-new.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                Pages
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li class="list-group-item">

                    <a href="../widget/widget-list.view.client.html">
                        Movies and cricket
                    </a>
                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>

        <li class="list-group-item">

                    <a href="../widget/widget-list.view.client.html">
                        Football score
                    </a>

                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>

        <li class="list-group-item">
                    <a href="../widget/widget-list.view.client.html">
                        Diet Tips
                    </a>


                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>

        <li class="list-group-item">

                    <a href="../widget/widget-list.view.client.html">
                        Fitness exercise
                    </a>

                   <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>

        <li class="list-group-item">

                    <a href="../widget/widget-list.view.client.html">
                        Latest scores
                    </a>

                    <a href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>

        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right ">
            <div class="col-xs-3 pull-right">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon glyphicon-user" id="span1"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>