

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Register
                </a>
            </div>
        </div>
    </div>
</nav>

    <div class="container-fluid">


        <form>
            <div class="form-group">
        <label for="username" class="">Username</label>
        <input id="username" type="text"
               class="form-control"
               placeholder="username"/>

        <label for="password" class="">Password</label>
        <input id="password" type="password"
               class="form-control"
               placeholder="password"/>

        <label for="password1" class="">Re-enter Password</label>
        <input id="password1" type="password"
               class="form-control"
               placeholder="verify password"/>

            </div>
        </form>
        <a class="btn btn-primary btn-block"
           href="#user/123">Register</a>

        <a class="btn btn-danger  btn-block"
           href="#login">Cancel</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">


    </nav>
